.banner_section {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/banner-sobre.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_section h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
}

.sobre_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre_container div {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    gap: 30px;
    
}

.sobre_container div h2 {
    font-size: 32px;
}

.sobre_container div span {
    font-size: 20px;
}

.sobre_container div p {
    font-size: 16px;
}