.banner_section {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/banner-sabores.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner_section h1 {
    font-size: 100px;
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
}