.banner_section {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/banner-sabores.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner_section h1 {
    font-size: 100px;
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
}

.secao_sabores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 100px 20px;
}

.secao_sabores h2 {
    text-transform: uppercase;
    
}

.secao_sabores_cards {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.secao_sabores_cards div {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 10px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px 15px 2px #d9dde1;
}

.secao_sabores_cards div h3 {
    font-size: 18px;

}

.img_sabor {
    width: 100%;
    height: 250px;
    object-fit: contain;
}