.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_container {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 20px;
}

.info_container div {
    width: 20%;
    height: 100px;
}

.info_container div h3 {
    font-size: 18px;
}

.info_container div p {
    font-size: 16px;
}

.img_footer {
    width: 100px;
    height: auto;
}

.footer_rights {
    font-size: 16px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}